<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>GooglePlay - Fundamentos de Bancos de Dados</title>
    <meta name="description" content="UI para aplicação desenvolvida para a matéria Fundamentos de Bancos de Dados - INF @ UFRGS">

    <link href="https://fonts.googleapis.com/css?family=Inconsolata|Rubik:300,400,700,900" rel="stylesheet">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/styles-merged.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.min.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/custom.css') }}">

    <!--[if lt IE 9]>
      <script src="{{ url_for('static', filename='js/vendor/html5shiv.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/vendor/respond.min.js') }}"></script>
    <![endif]-->
  </head>
  <body>

  <!-- START: header -->
  
  <div class="probootstrap-loader"></div>

  <header role="banner" class="probootstrap-header">
    <div class="container">
        <a href="{{ url_for('root')}}" class="probootstrap-logo">GooglePlay<span>.</span></a>
        
        <a href="#" class="probootstrap-burger-menu visible-xs" ><i>Menu</i></a>
        <div class="mobile-menu-overlay"></div>

        <nav role="navigation" class="probootstrap-nav hidden-xs">
          <ul class="probootstrap-main-nav">
            <li class="active"><a href="{{ url_for('root')}}">Home</a></li>
            <li><a href="https://github.com/rafaeelaudibert/GooglePlay.sql">Sobre</a></li>
          </ul>
          <div class="extra-text visible-xs">
            <a href="#" class="probootstrap-burger-menu"><i>Menu</i></a>
            <h5>Connect</h5>
            <ul class="social-buttons">
              <li><a href="https://github.com/rafaeelaudibert/GooglePlay.sql"><i class="icon-github"></i></a></li>
              <li><a href="https://inf.ufrgs.br/~rbaudibert"><i class="icon-profile-male"></i></a></li>
              <li><a href="https://inf.ufrgs.br/~acpagnoncelli"><i class="icon-profile-female"></i></a></li>
            </ul>
          </div>
        </nav>
    </div>
  </header>
  <!-- END: header -->
  <div class="probootstrap-main-content">
    <section class="probootstrap-slider flexslider">
      <ul class="slides">
         <!-- class="overlay" -->
        <li style="background-image: url({{ url_for('static', filename='img/slider_1.jpg') }});">
          <div class="container">
            <div class="row">
              <div class="col-md-10 col-md-offset-1">
                <div class="probootstrap-slider-text text-center">
                  <h1 class="probootstrap-heading probootstrap-animate mb20">Fundamentos de Bancos de Dados</h1>
                  <div class="probootstrap-animate probootstrap-sub-wrap mb30">Trabalho final baseado no GooglePlay</div>
                  <p class="probootstrap-animate"><a href="https://github.com/rafaeelaudibert/GooglePlay.sql" class="btn btn-ghost btn-ghost-white">Acesse no Github</a></p>
                </div>
              </div>
            </div>
          </div>
        </li>
        <!-- class="overlay" -->
        <li style="background-image: url({{ url_for('static', filename='img/slider_5.jpg') }});">
          <div class="container">
            <div class="row">
              <div class="col-md-10 col-md-offset-1">
                <div class="probootstrap-slider-text text-center">
                  <h1 class="probootstrap-heading probootstrap-animate mb20">GooglePlay</h1>
                  <div class="probootstrap-animate probootstrap-sub-wrap mb30">Implementação de banco de dados relacional, baseando-se na loja de Aplicativos da Google</div>
                  <p class="probootstrap-animate"><a href="https://play.google.com" class="btn btn-ghost btn-ghost-white">Acesse Site Original</a></p>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </section>
    <section class="probootstrap-section probootstrap-bg-white">
      <div class="container-fluid">
        <div class="section-heading text-center">
          <h2 class="mt0 mb0">Consultas Relacionais</h2>
        </div>
      </div>
    </section>
    <section class="probootstrap-half">
      <div class="image-wrap">
        <div class="image" style="background-image: url({{ url_for('static', filename='img/q1.jpg') }});"></div>
      </div>
      <div class="text">
        <p class="mb10 subtitle">Consulta para Visões</p>
        <h3 class="mt0 mb40">Membros de Filmes em Promoção</h3>
        <p class="mb50">Seleciona o nome e a função de todos participantes de casts de filmes que estejam em promoção.</p>
        <p class="mb50">
          <table id="query-1" class="table table-borderless table-responsive hidden mb50">
            <thead>
              <tr>
                <th>Nome</th>
                <th>Função</th>
              </tr>
            </thead>
            <tbody id="query-1-table-body">

            </tbody>
          </table>
        </p>
        <p><a id="query-1-run" class="btn btn-ghost btn-ghost-white mb10">Rodar query</a></p>
      </div>
    </section>
    <section class="probootstrap-half reverse">
      <div class="image-wrap">
        <div class="image" style="background-image: url({{ url_for('static', filename='img/q2.jpg') }});"></div>
      </div>
      <div class="text">
        <p class="mb10 subtitle">Consulta para Visões</p>
        <h3 class="mt0 mb40">Artistas e Álbuns com músicas longas</h3>
        <p class="mb50">Seleciona os álbuns e o nome dos artistas que possuem músicas mais longas do que <input id="input-query-2" placeholder="3"></input> minutos</p>
        <p class="mb50">
          <table id="query-2" class="table table-borderless table-responsive hidden mb50">
            <thead>
              <tr>
                <th>Nome do Álbum</th>
                <th>Nome do Artista</th>
              </tr>
            </thead>
            <tbody id="query-2-table-body">

            </tbody>
          </table>
        </p>
        <p><a id="query-2-run" class="btn btn-ghost btn-ghost-white mb10">Rodar Query</a></p>
      </div>
    </section>
    <section class="probootstrap-half">
      <div class="image-wrap">
        <div class="image" style="background-image: url({{ url_for('static', filename='img/q3.jpg') }});"></div>
      </div>
      <div class="text">
        <p class="mb10 subtitle">Consulta Normal</p>
        <h3 class="mt0 mb40">Estatísticas de Download</h3>
        <p class="mb50">Retorna o nome e o e-mail de todos usuários, juntamente com a quantidade de downloads realizados</p>
        <p class="mb50">
          <table id="query-3" class="table table-borderless table-responsive hidden mb50">
            <thead>
              <tr>
                <th>Nome</th>
                <th>Email</th>
                <th>Downloads</th>
              </tr>
            </thead>
            <tbody id="query-3-table-body">

            </tbody>
          </table>
        </p>
        <p><a id="query-3-run" class="btn btn-ghost btn-ghost-white mb10">Rodar query</a></p>
      </div>
    </section>
    <section class="probootstrap-half reverse">
      <div class="image-wrap">
        <div class="image" style="background-image: url({{ url_for('static', filename='img/q4.jpg') }});"></div>
      </div>
      <div class="text">
        <p class="mb10 subtitle">Consulta Normal</p>
        <h3 class="mt0 mb40">Usuários que assistiram alguém</h3>
        <p class="mb50">Seleciona o nome de todos os usuários que assistiram algum filme em que <input id="input-query-4" placeholder="Jason Momoa"></input> participou</p>
        <p class="mb50">
          <table id="query-4" class="table table-borderless table-responsive hidden mb50">
            <thead>
              <tr>
                <th>Nome</th>
                <th>Nome do Filme</th>
              </tr>
            </thead>
            <tbody id="query-4-table-body">

            </tbody>
          </table>
        </p>
        <p><a id="query-4-run" class="btn btn-ghost btn-ghost-white mb10">Rodar Query</a></p>
      </div>
    </section>
    <section class="probootstrap-half">
      <div class="image-wrap">
        <div class="image" style="background-image: url({{ url_for('static', filename='img/q5.jpg') }});"></div>
      </div>
      <div class="text">
        <p class="mb10 subtitle">Consulta Normal</p>
        <h3 class="mt0 mb40">Livros na Lista de Desejos por Língua</h3>
        <p class="mb50">Seleciona o nome de todos os usuários que adicionaram algum livro escrito na língua <input id="input-query-5" placeholder="Português"></input>, na sua Lista de Desejos</p>
        <p class="mb50">
          <table id="query-5" class="table table-borderless table-responsive hidden mb50">
            <thead>
              <tr>
                <th>Nome</th>
                <th>Data</th>
                <th>Livro</th>
              </tr>
            </thead>
            <tbody id="query-5-table-body">

            </tbody>
          </table>
        </p>
        <p><a id="query-5-run" class="btn btn-ghost btn-ghost-white mb10">Rodar query</a></p>
      </div>
    </section>
    <section class="probootstrap-half reverse">
      <div class="image-wrap">
        <div class="image" style="background-image: url({{ url_for('static', filename='img/q6.jpg') }});"></div>
      </div>
      <div class="text">
        <p class="mb10 subtitle">Consulta com Cláusula Group By</p>
        <h3 class="mt0 mb40">Downloads por Desenvolvedor</h3>
        <p class="mb50">Retorna uma lista com todos os desenvolvedores de aplicativos, com a quantidade de downloads que os aplicativos daquele desenvolvedor tiveram</p>
        <p class="mb50">
          <table id="query-6" class="table table-borderless table-responsive hidden mb50">
            <thead>
              <tr>
                <th>Desenvolvedor</th>
                <th>Downloads</th>
              </tr>
            </thead>
            <tbody id="query-6-table-body">

            </tbody>
          </table>
        </p>
        <p><a id="query-6-run" class="btn btn-ghost btn-ghost-white mb10">Rodar Query</a></p>
      </div>
    </section>
    <section class="probootstrap-half">
      <div class="image-wrap">
        <div class="image" style="background-image: url({{ url_for('static', filename='img/q7.jpg') }});"></div>
      </div>
      <div class="text">
        <p class="mb10 subtitle">Consulta com Subconsulta</p>
        <h3 class="mt0 mb40">Álbuns acima da Média</h3>
        <p class="mb50">Retorna o nome do álbum e do artista que o gravou, para todos aqueles álbuns que foram baixados acima da média de downloads de álbuns</p>
        <p class="mb50">
          <table id="query-7" class="table table-borderless table-responsive hidden mb50">
            <thead>
              <tr>
                <th>Nome do Álbum</th>
                <th>Nome do Artista</th>
              </tr>
            </thead>
            <tbody id="query-7-table-body">

            </tbody>
          </table>
        </p>
        <p><a id="query-7-run" class="btn btn-ghost btn-ghost-white mb10">Rodar query</a></p>
      </div>
    </section>
    <section class="probootstrap-half reverse">
      <div class="image-wrap">
        <div class="image" style="background-image: url({{ url_for('static', filename='img/q8.jpg') }});"></div>
      </div>
      <div class="text">
        <p class="mb10 subtitle">Consulta com NOT EXISTS</p>
        <h3 class="mt0 mb40">Downloads de mesmo app</h3>
        <p class="mb50">Retorna o email de todos os usuários que não baixaram NENHUM item igual ao usuário com email <input id="input-query-8" placeholder="rbaudibert@inf.ufrgs.br"></input></p>
        <p class="mb50">
          <table id="query-8" class="table table-borderless table-responsive hidden mb50">
            <thead>
              <tr>
                <th>Email</th>
              </tr>
            </thead>
            <tbody id="query-8-table-body">

            </tbody>
          </table>
        </p>
        <p><a id="query-8-run" class="btn btn-ghost btn-ghost-white mb10">Rodar Query</a></p>
      </div>
    </section>

    <!-- TODO: Trigger explanation and testing -->
     <section class="probootstrap-half">
      <div class="image-wrap">
        <div class="image" style="background-image: url({{ url_for('static', filename='img/trigger.jpg') }});"></div>
      </div>
      <div class="text">
        <p class="mb10 subtitle">Trigger</p>
        <h3 class="mt0 mb40">Para que serve e como funciona o Trigger</h3>
        <div class="row mb20">
          <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="service-item">
              <span class="number">1</span>
              <h4 class="mt0">Integridade</h4>
              <p>Somente categorias que pertençam a mesma classe do item, podem categorizá-lo</p>
            </div>
          </div>
          <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="service-item">
              <span class="number">2</span>
              <h4 class="mt0">Como funciona</h4>
              <p>Trigger funciona ao chamar um procedimento ANTES de executar alguma ação de inserção ou atualização em Categorização</p>
            </div>
          </div>
          <div class="clearfix visible-sm-block"></div>
          <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="service-item">
              <span class="number">3</span>
              <h4 class="mt0">Procedimento</h4>
              <p>Se tipo do item, for diferente do tipo de categoria, levantamos uma exceção no banco de dados.</p>
            </div>
          </div>
          <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="service-item">
              <span class="number">4</span>
              <h4 class="mt0">User Interface</h4>
              <p>Front-end faz requisição para a API que tenta inserir o valor no banco de dados. Caso o trigger retorne erro, a API retornará o erro, informando que o dado não foi inserido.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="probootstrap-half reverse">
      <div class="image-wrap">
        <div class="image" style="background-image: url({{ url_for('static', filename='img/q9.jpg') }});"></div>
      </div>
      <div class="text">
        <p class="mb10 subtitle">Checagem Trigger</p>
        <h3 class="mt0 mb40">Categorização</h3>
        <p class="mb50">Retorna os dados presentes na tabela categorização</p>
        <p class="mb50">
          <table id="query-9" class="table table-borderless table-responsive hidden mb50">
            <thead>
              <tr>
                <th>Item</th>
                <th>Categoria</th>
                <th>Tipo de Categoria</th>
              </tr>
            </thead>
            <tbody id="query-9-table-body">

            </tbody>
          </table>
        </p>
        <p><a id="query-9-run" class="btn btn-ghost btn-ghost-white mb10">Rodar query</a></p>
      </div>
    </section>
    <section class="probootstrap-half">
      <div class="image-wrap">
        <div class="image" style="background-image: url({{ url_for('static', filename='img/q10.jpg') }});"></div>
      </div>
      <div class="text">
        <p class="mb10 subtitle">Rodar contra Trigger</p>
        <h3 class="mt0 mb40">Inserção em Categorização</h3>
        <p class="mb10">
          Inserção de valores na categorização:
        </p>
        <p class="mb50">
          <input id="input-insert-1" class="input" placeholder="Item UUID"></input> <br/>
          <input id="input-insert-2" placeholder="Nome da Categoria"></input> <br/>
          <input id="input-insert-3" placeholder="Tipo da Categoria"></input>
        </p>
        <p class="mb50">
          <table id="query-10" class="table table-borderless table-responsive hidden mb50">
            <thead>
              <tr>
                <th>Inserções</th>
                <th>Status</th>
                <th>Erro</th>
              </tr>
            </thead>
            <tbody id="query-10-table-body">

            </tbody>
          </table>
        </p>
        <p><a id="query-10-run" class="btn btn-ghost btn-ghost-white mb10">Rodar Query</a></p>
      </div>
    </section>  


    </div>

    <div class="probootstrap-footer-spacer"></div>
    <footer class="probootstrap-footer">
      <div class="probootstrap-footer-section">
        <div class="container">
          <div class="row mb80">
            <div class="col-md-4">
              <div class="probootstrap-footer-widget">
              <h3>Sobre o Trabalho</h3>
              <p>Trabalho desenvolvido sobre orientação da professora <a href="https://inf.ufrgs.br/~kbecker">Karin Becker</a> no Instituto de Informática - UFRGS, no âmbito da disciplina Fundamentos de Banco de Dados</p>
              </div>
            </div>
            <div class="col-md-4">
              <!--
              <div class="probootstrap-link-wrap probootstrap-footer-widget">
                <h3>Services</h3>
                <ul>
                  <li><a href="#">Interface Design</a></li>
                  <li><a href="#">User Experience</a></li>
                  <li><a href="#">Web &amp; App Development</a></li>
                  <li><a href="#">Product Strategy</a></li>
                </ul>
              </div>
              -->
            </div>
            <div class="col-md-4">
              <div class="probootstrap-footer-widget">
                <h3>Conecte-se com a gente</h3>
                <ul class="probootstrap-footer-social">
                  <li><a href="https://github.com/rafaeelaudibert/GooglePlay.sql"><i class="icon-github"></i></a></li>
                  <li><a href="https://inf.ufrgs.br/~rbaudibert"><i class="icon-profile-male"></i></a></li>
                  <li><a href="https://inf.ufrgs.br/~acpagnoncelli"><i class="icon-profile-female"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="row">
            <p class="text-center">&copy; Layout by uiCookies:Pixels. Designed w/ <i class="icon-heart2"></i> by <a href="https://uicookies.com/">uicookies.com</a></p>
          </div>
        </div>
      </div>
    </footer>

  <div class="gototop js-top">
    <a href="#" class="js-gotop"><i class="icon-chevron-thin-up"></i></a>
  </div>
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/json2html/1.2.0/json2html.min.js"></script>
  <script src="{{ url_for('static', filename='js/scripts.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/main.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/custom.js') }}"></script>

  </body>
</html>